<header center id="top" *ngIf="displayAddFormData">
    <h2 center style="color:blue;text-align: center"> {{title}} </h2>
</header>




<content style="animation: ease-in-out">
    <h6 center style="color:green;text-align: center">
        <b> {{message}}</b>
    </h6>

    <span layout="row">
        <hr flex/>
    </span>

 

    <div *ngIf="displayAddFormData">

        <form class="form-horizontal" novalidate (ngSubmit)="SaveRefinery(refineryModal)" [formGroup]="refineryForm">
            <fieldset>



                <!--

 <div class="form-group row" style="margin-top:3%;" [ngClass]="{'has-error': (refineryForm.get('attr1').touched || 
                refineryForm.get('attr1').dirty) &&
                                              !refineryForm.get('attr1').valid }">
                    <div class="col-lg-6">
                        <label class="control-label" for="attr1" style="display:block;text-align:left;margin-left: 15%">attr1</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" formControlName="attr1" [(ngModel)]="refineryModal['attr1']" />
                        <span class="help-block" *ngIf="(refineryForm.get('attr1').touched || 
                refineryForm.get('attr1').dirty) && 
                refineryForm.get('attr1').errors">
                            <span *ngIf="refineryForm.get('attr1').errors.required">
                                Please Enter Refinery Name !
                            </span>

                        </span>
                    </div>
                </div>

                -->

                <div class="form-group row" style="margin-top:3%;" [ngClass]="{'has-error': (refineryForm.get('Refinery_Name').touched || 
                                refineryForm.get('Refinery_Name').dirty) &&
                                                              !refineryForm.get('Refinery_Name').valid }">
                    <div class="col-lg-6">
                        <label class="control-label" for="Refinery_Name" style="display:block;text-align:left;margin-left: 15%">Refinery Name</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" formControlName="Refinery_Name" [(ngModel)]="refineryModal['Refinery_Name']" />
                        <span class="help-block" *ngIf="(refineryForm.get('Refinery_Name').touched || 
                                refineryForm.get('Refinery_Name').dirty) && 
                                refineryForm.get('Refinery_Name').errors">
                            <span *ngIf="refineryForm.get('Refinery_Name').errors.required">
                                Please Enter Refinery Name !
                            </span>
                
                        </span>
                    </div>
                </div>
                
                <span layout="row">
                    <hr flex/>
                </span>
                <div class="form-group row" style="margin-top:3%;" [ngClass]="{'has-error': (refineryForm.get('Site_Name').touched || 
                            refineryForm.get('Site_Name').dirty) &&
                                                          !refineryForm.get('Site_Name').valid }">
                    <div class="col-lg-6">
                        <label class="control-label" for="Site_Name" style="display:block;text-align:left;margin-left: 15%">Site Name</label>
                    </div>
                    <div class="col-lg-6">
                
                        <select class="form-control" formControlName="Site_Name" [(ngModel)]="refineryModal['Site_Name']">
                            <option *ngFor="let list of siteList" [ngValue]="list.Site_Name">{{list.Site_Name}}</option>
                        </select>
                        <span class="help-block" *ngIf="(refineryForm.get('Site_Name').touched || 
                            refineryForm.get('Site_Name').dirty) && 
                            refineryForm.get('Site_Name').errors">
                            <span *ngIf="refineryForm.get('Site_Name').errors.required">
                                Please Select Site Name !
                            </span>
                        </span>
                    </div>
                </div>
                <span layout="row">
                    <hr flex/>
                </span>


                <div  *ngFor="let key of keys();">

                    <div class="form-group row" style="margin-top:3%;" [ngClass]="{'has-error': (refineryForm.get(key).touched || 
                refineryForm.get(key).dirty) &&
                                              !refineryForm.get(key).valid }">
                        <div class="col-lg-6">
                            <label class="control-label" for="{{key}}" style="display:block;text-align:left;margin-left: 15%">{{attributes[key]}}</label>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" formControlName="{{key}}" [(ngModel)]="refineryModal[key]" />
                            <span class="help-block" *ngIf="(refineryForm.get(key).touched || 
                refineryForm.get(key).dirty) && 
                refineryForm.get(key).errors">
                                <span *ngIf="refineryForm.get(key).errors.required">
                                    Please Enter {{attributes[key]}} Name !
                                </span>
                                <span *ngIf="!refineryForm.get(key).errors.required && refineryForm.get(key).errors.gab">
                                    Please enter Good, Bad or Average only !
                                </span>

                            </span>
                        </div>
                    </div>



                    <span layout="row">
                        <hr flex/>
                    </span>
                </div>

                <div class="form-group row" style="margin-top:5%;margin-bottom:5%">
                    <div class="col-lg-6" style="padding-left:32%;">
                        <button class="btn btn-primary btn-lg" type="submit" [disabled]="!refineryForm.valid">
                            Add</button>
                    </div>
                    <div class="col-lg-6" style="padding-right:22%;">
                        <button class="btn btn-primary btn-lg" type="button" mat-button [mat-dialog-close]="true">
                            Close</button>
                    </div>

                </div>
            </fieldset>
        </form>
    </div>

    <div *ngIf="!displayAddFormData">


        <div class="form-group row" style="margin-top:5%;margin-bottom:5%">
            <div class="col-lg-12" style="padding-left:45%;">
                <button class="btn btn-primary btn-lg" type="button" mat-button [mat-dialog-close]="true">
                    Close</button>
            </div>

        </div>
    </div>

</content>