<ul class="nav nav-tabs" style="float: right; margin-right: 100px;">
  <li class="nav-item">
    <button block >Upload Data</button> 
  </li>
  <li  class="nav-item" >
      <button block >Run Modal</button> 
    </li>
  </ul>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" routerLinkActive="active"> Regions </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/site" routerLinkActive="active"> Site </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/refinery" routerLinkActive="active"> Refineries </a>
  </li>
 <!-- <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#">Disabled</a>
  </li>-->
</ul>
<!--<app-key-highlights-page></app-key-highlights-page>-->

<router-outlet></router-outlet>
