button{
    width:100px;
    height:35px;
    font-size: 14px;
    text-align: center;
    background-color: #43b02a;
    border:0.5px solid #000;
    font-weight: 600;
    opacity:0.8
}

button:hover{
    width:100px;
    height:35px;
    font-size: 14px;
    text-align: center;
    background-color: #43b02a;
    border:0.5px solid #000;
    font-weight: 600;
    opacity:1
}

button:disabled{
    width:100px;
    height:35px;
    font-size: 14px;
    text-align: center;
    background-color: #a8caa1;
    border:0.5px solid #000;
    font-weight: 600;
    opacity:1
}